
/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color:white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;
	max-width:960px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
header h2{
	font-size:170%;
	color:#800000;
}
header h3{
	font-size:130%;
	font-family:italic;
}
header{
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #931420;
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient( 30deg, #4126C9 0%, #ECC4F9 30%, white 50%, #2AA1FF 80%, #0D39AF 100%);
}
/* the styles for the header */
header img {
	float: left;
	padding: 0 3.75%;
}

.shadow{
	color: #800000;
    text-shadow: 2px 0px 10px;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 20%;            
}
#nav_menu ul li a {
    display: block;
	width:192px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
.slicknav_menu {
	display: none;
}
@media only screen and (max-width:959px)
{
	section h1 {
		font-size:135%;
	}
	section h2 ,aside h2{ font-size:120%;}
}

@media only screen and (max-width:767px)
{
	header img { float: none; }
	header{text-align:center;}
	section{
		float:none;
		width:95%;
	}
	aside{
		float:none;
		padding: 0 2%;
		width: 96%;          
	}
	article img { max-width: 30%;}

	#nav_menu {
		display:none;
	}
	.slicknav_menu{
		display:block;
		background-color:#800000 !important;
	}
}
@media only screen and (max-width: 479px) {
	body { font-size: 90%; }
	article img{
		float:none !important;
	}
	#article-image{
		text-align:center;
	}
}
main {
	clear: left;
}
main section {
	width: 65.625%;               
	float: right;
	padding: 0 2.5% 20px 2.5%; 
}

main section h2{
	font-size:130%;
	color:#800000;
	padding: .5em 0 .25em 0;
}
main section p{
	padding-bottom:0.5em;
}

main section blockquote {
	padding: 0 2em;
	font-style: italic;
}
main section ul {
	padding: 0 0 .25em 1.25em;
}
main section ul li {	
	padding-bottom: .35em;
}
main section article{
	padding:0.5em 0;
	border-top: 2px solid #800000;
	border-bottom:2px solid #800000;
}
main section article img{
	float: right;
	max-width: 40%;
	min-width: 150px;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

main section  article h1 {
	font-size:150%;
	padding:.5 em 0 0.25em 0;
	margin:0;
}
main section  article h2 {
	padding:0px;
}
main section article h3 {
	font-size:105%;
	padding-bottom:0.25em;
}	
main aside {
	width: 26.875%;            
	float: right;
	padding: 0 0 20px 2.5%;
}
main aside h2{
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
main aside h3{
	font-size:105%;
	font-family:italic;
	padding-bottom:0.25em;
}
main aside img{
	padding-bottom: 1em;
}
/* the styles for the footer */
footer {
	clear:both;
	background-color:#931420;
}

footer p{
	text-align:center;
	color:white;
	padding: 1em 0px;
}

a:focus, a:hover {
	font-style: italic;
}



